force-app/main/default/flows/Prompt_Inventory_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assigned_Inventory</name>
        <label>Assigned Inventory</label>
        <locationX>264</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>InventoryProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loopinventory.Product__r.Name} </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryQuantities</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loopinventory.Inventory_Number__c} </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_inventory_Details_to_the_Prompt_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignedproductIds</name>
        <label>AssignedproductIds</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductsLoop.SalesAgreementProductId__NotFound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SAPSProductIds</name>
        <label>SAPSProductIds</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SAPids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SAPIdsLoop.Id__NotFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSAPSProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SAPIdsLoop.ProductId__NotFound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SAPIdsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_inventory_Details_to_the_Prompt_Template</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Send inventory Details to the Prompt Template</label>
        <locationX>264</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
(Inventory Name: {!Loopinventory.Name},
Inventory Product: {!Loopinventory.Product__r.Name},
Inventory Available Quantities:{!Loopinventory.Inventory_Number__c} )
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loopinventory</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Prompt Inventory Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prompt Inventory Check</label>
    <loops>
        <name>Loopinventory</name>
        <label>Loopinventory</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <collectionReference>DInv</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Inventory</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>ProductsLoop</name>
        <label>ProductsLoop</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <collectionReference>ProductSchedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignedproductIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Inventory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SAPIdsLoop</name>
        <label>SAPIdsLoop</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Agreement_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SAPSProductIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Agreement_Product_Schedules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Agreement_Products</name>
        <label>Agreement Products</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SAPIdsLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAgreementId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Input.objectToSummarize.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SalesAgreementProduct__NotFound</object>
        <queriedFields>Id__NotFound</queriedFields>
        <queriedFields>PricebookEntryId__NotFound</queriedFields>
        <queriedFields>ProductId__NotFound</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agreement_Product_Schedules</name>
        <label>Get Agreement Product Schedules</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProductsLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAgreementProductId__NotFound</field>
            <operator>In</operator>
            <value>
                <elementReference>SAPids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>6.0</numberValue>
        </limit>
        <object>SalesAgreementProductSchedule__NotFound</object>
        <queriedFields>Id__NotFound</queriedFields>
        <queriedFields>Name__NotFound</queriedFields>
        <queriedFields>StartDate__NotFound</queriedFields>
        <queriedFields>EndDate__NotFound</queriedFields>
        <queriedFields>PlannedQuantity__NotFound</queriedFields>
        <queriedFields>SalesAgreementProductId__NotFound</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventory</name>
        <label>Get Inventory</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loopinventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varSAPSProductIds</elementReference>
            </value>
        </filters>
        <object>Demo_Inventory__c</object>
        <outputReference>DInv</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Inventory_Number__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <capabilityTypes>
            <name>PromptTemplateType://einstein_gpt__recordSummary</name>
            <capabilityName>PromptTemplateType://einstein_gpt__recordSummary</capabilityName>
            <inputs>
                <name>objectToSummarize</name>
                <capabilityInputName>objectToSummarize</capabilityInputName>
                <dataType>SOBJECT://SalesAgreement</dataType>
                <isCollection>false</isCollection>
            </inputs>
        </capabilityTypes>
        <connector>
            <targetReference>Agreement_Products</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DInv</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Demo_Inventory__c</objectType>
    </variables>
    <variables>
        <name>InventoryProducts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventoryQuantities</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProductSchedule__NotFound</objectType>
    </variables>
    <variables>
        <name>SAPids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSAPSProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
